h2{
    /*border: red 1px solid;*/
    text-align: center;
    color: rgb(43, 168, 226);
    border-color: rebeccapurple;
    border-width: 20px;
    border-style: solid;
}

body{
    border: rebeccapurple 20px solid;
}

p{
    margin: 20px;
    border: cornflowerblue 20px solid;
    padding: 20px
}

p#p1{
    color: chartreuse;
}

p.primeros{
    color: crimson
}


div{
    border: chocolate 20px solid;
    border-bottom-color: crimson;
    border-bottom-style: dashed;
    border-bottom-width: 20px;
}

body>p{
    color: rgb(0, 173, 14);
}